.dashboardSection#friendsSection
    h1.sectionHeader.thin Your Friends
    table#friendsTable
        thead
            tr
                th.thin.center Icon
                th.fr Friend
                th.frIRRAcol Actions
        tbody#friendsBody
            tr
                td
                    i.fas.fa-ellipsis.fa-flip.fa-beat-fade.fa-2x