.dashboardSection#leaderboardByNetWorthSection
    h1.sectionHeader.thin Global Leaderboard
    table
        tr
            td
                i.fa-sharp.fa-solid.fa-ellipsis.fa-flip.fa-beat-fade.fa-2x
        //- each user in users
        //- tr(style="background-color: #454545; color: #ddd;")
            //- td.thin.right(style="background-color: #333; color: #fff;") Totals:
            //- td.right(style="background-color: #666; color: #fff;") #{workers.length}
            //- td.right(style="background-color: #ddd; color: #333;") ⵇ #{totalWorkerPrice}
            //- td.right(style="background-color: #ddd; color: #333;") ⵇ #{workersWorth}