.dashboardSection.achievementsSection
    h1.sectionHeader.thin Achievements
    table
        thead 
            tr 
                th.achARIcol Icon
                th.achARNcol Achievement 
                th.achARDcol Description 
                th.achARRcol Reward
        tbody#userAchievementsBody