.dashboardSection#itemsSection
    h1.sectionHeader.thin Items in your Backpack
    .sectionContent
        table
            tr
                td
                    i.fa-sharp.fa-solid.fa-ellipsis.fa-flip.fa-beat-fade.fa-2x
    
            