.dashboardSection#miniLeaderboard
    h1.sectionHeader.thin Increase to next leaderboard position
    #cardContent
        table
            tr
                td.nwChange
                    i.fa-sharp.fa-ellipsis
        