.dashboardSection#workersClaimSection
    h1.sectionHeader.thin Workers ready for claim
    table
        td
            i.fa-sharp.fa-solid.fa-ellipsis.fa-flip.fa-beat-fade.fa-2x
.dashboardSection#workerClaimSection
    h1.sectionHeader.thin Quick Claim
    form#claimWorkerFormDashCard
        button#claimWorkerSubmit Claim From Workers