#navbar
    #navbar-left
        span.navHamburger
            i.fa-sharp.fa-solid.fa-bars
        //- Remove once the burger menu is implemented
        //- hold on, i'll CSS them apart - there
        //-
    #navbar-center
        div#icon
            i.fak.fa-chaotic-capital.fa-2x
        div#titleTagline
            h1 Chaotic Capital
            h2.thin Capitalism has it's flaws
    #navbar-right
        #navUserCardDesktop
            include ./userCard.pug
