
if (hasAlphaAccess)
    a(href="/home/test" style="color:white")#dashboardNavLink.navLink.alphaOnly
        li
            span.navLinkIcon
                i.fa-sharp.fa-regular.fa-house
            span Home (Alpha)
    a(href="/leaderboard/test" style="color:white")#leaderboardNavLink.navLink.alphaOnly
        li
            span.navLinkIcon
                i.fa-sharp.fa-regular.fa-trophy
            span Leaderboard (Alpha)
    a(href="/friends/test" style="color: white")#leaderboardNavLink.navLink.alphaOnly
        li
            span.navLinkIcon
                i.fa-sharp.fa-regular.fa-users
            span Friends (Alpha)
    a(href="/backpack/test" style="color: white")#leaderboardNavLink.navLink.alphaOnly
        li
            span.navLinkIcon
                i.fa-sharp.fa-regular.fa-backpack
            span Backpack (Alpha)
    a(href="/achievements/test" style="color:white")#leaderboardNavLink.navLink.alphaOnly
        li 
            span.navLinkIcon
                i.fa-sharp.fa-regular.fa-sparkles
            span Achievements (Alpha)
a(href="/help-about" style="color: white")#leaderboardNavLink.navLink
    li
        span.navLinkIcon
            i.fa-kit.fa-sharp-solid-circle-info-circle-question
        span Help & About
if (isAdmin)
    a(href="/admin" style="color: white;")#adminNavLink.navLink.adminOnly
        li
            span.navLinkIcon
                i.fa-sharp.fa-regular.fa-shield
            span Admin
    a(href="/shop" style="color: white" disabled=true)#leaderboardNavLink.navLink.adminOnly
        li
            span.navLinkIcon        
                i.fa-sharp.fa-regular.fa-cart-shopping
            span Shop (closed)
    a(href="/bazaar" style="color: white" disabled=true)#leaderboardNavLink.navLink.adminOnly
        li
            span.navLinkIcon
                i.fa-sharp.fa-regular.fa-store
            span Bazaar (closed)
    a(href="/workers" style="color: white" disabled=true)#leaderboardNavLink.navLink.adminOnly
        li
            span.navLinkIcon
                i.fa-sharp.fa-regular.fa-user-tie-hair
            span Workers (closed)
    a(href="/wheel" style="color: white" disabled=true)#leaderboardNavLink.navLink.adminOnly
        li
            span.navLinkIcon
                i.fa-sharp.fa-regular.fa-compact-disc
            span Wheel (closed)