doctype html
html(lang="en")
    head
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="Play Chaotic Capital! Buy and sell items, hire workers, and climb the leaderboard!")
        meta(name="keywords", content="game, chaotic capital, economy, buy, sell, trade, leaderboard, rank, worker, hire, job, money, currency")
        meta(name="theme-color", content="#333333")
        title Chaotic Capital
        link(rel="stylesheet", href="/assets/css/megafile_test.css")
        link(rel="stylesheet", href="https://use.typekit.net/stl0qpb.css")
        script(src="https://kit.fontawesome.com/cd32c1b6c9.js" crossorigin="anonymous")
    body
        #pageFull
            include ./components/navbarMenu.pug
            #page
                include ./components/navbar.pug
                #pageContent
                        .dashboardSectionRow.wideLeft
                            .dashboardSectionCol
                                include ./components/cardAchievements.pug
                            .dashboardSectionCol
                                .dashboardSection#leaderboardByNetWorthSection
                                    h1.sectionHeader.thin About Achievements
                                    p
                                        | Achievements are a way to track your progress in Chaotic Capital.
                                        | They are awarded for completing various tasks, such as buying and
                                        | selling items, hiring workers, and climbing the leaderboard. Each
                                        | achievement has a description and a reward. You can view your
                                        | achievements on this page.
                                            

                                    
        script(src="assets/js/navbarToggle.js")
        script(src="/assets/js/client_new.js")
        script(src="/assets/js/achievements.js")