doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Chaotic Capital
        style(src="assets/game.css")
    body
        h1 Chaotic Capital
        p.mono= JSON.stringify(user)
        script(src="assets/game.js")