:root{
    scrollbar-color: #666 var(--mid);

    --evendarker: #1d1d1d88;
    --darkest: #1118;
    --darker: #2228;
    --mid: #3338;
    --lighter: #4448;
    --lightest: #5558;

    --background: #4445;

    --fontstack: "config-variable", "zedou", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --headfontstack: "config-variable", "zedou", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --firstback: color-mix(in srgb, #0002 100%, gold 10%);
    --secondback: color-mix(in srgb, #0004 100%, color-mix(in srgb, gold 50%, orange 50%) 10%);
    --thirdback: color-mix(in srgb, #0006 100%, orange 10%);

    --first: color-mix(in srgb, #fff 100%, gold 20%);
    --second: color-mix(in srgb, #fff 100%, color-mix(in srgb, gold 50%, orange 50%) 20%);
    --third: color-mix(in srgb, #fff 100%, orange 20%);
}

body{
    font-family: var(--fontstack);
    font-variation-settings: "wdth" 75, "wght" 300;
    color: black;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: url("/assets/img/cc_new.png") #131e1b;
    background-size: contain;
    background-position-x: right;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #131e1b;

}
body.navActive{
    overflow: hidden;
}
h2{
    margin-block: 0;
    margin-inline: 0;
}
#pageFull{
    display: flex;
    flex-direction: row;
    height: 100%;
    flex-basis: 100%;
}
#navbarMenu{
    min-width: 300px;
    width: 20%;
    height: 100%;
    background-color: #040605;
    color: #fff;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    left: 0;
    transition: 0.2s;
    backdrop-filter: blur(10px) brightness(0.2);
}
#navbarMenu h2{
    min-height: 4rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--darkest);
    text-transform: uppercase;
    position: relative;
}
#navLinkSect{
    height: 100%;
    overflow-y: auto;
    position: relative;
}
.navLink{
    height: 50px;
    text-decoration: none !important;
    transition: 0.2s;
    display: flex;
    align-items: center;
    font-variation-settings: "wdth" 75, "wght" 400, "slnt" 5;
    text-transform: uppercase;
}
.navLink:hover{
    height: 75px;
}
.navLink:hover li span.navLinkIcon{
    background-color: var(--darker);
    color: #fff;
}
.navLink:hover li span:nth-child(2){
    background-color: var(--evendarker);
    color: #fff;
}
.navLink.adminOnly:hover li span.navLinkIcon{
    background-color: #00000010;
}
.navLink.adminOnly:hover li span:nth-child(2){
    background-color: #00000030;
}
.navLink.alphaOnly:hover li span.navLinkIcon{
    background-color: #00000010;
}
.navLink.alphaOnly:hover li span:nth-child(2){
    background-color: #00000030;
}
.navLink li{
    list-style: none;
    padding: 0;
    display: flex;
    height: 100%;
    width: 100%;
    min-width: 50px !important;
}
.navLink li svg{
    color: #fffc;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 25px;
    max-height: 25px;
    height: 100%;
}
.navLink li span.navLinkIcon{
    background-color: var(--darkest);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    min-width: 50px;
    height: 100%;  
}
.navLink li span:nth-child(2){
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: var(--darkest);
    width: 100%;
}
.navLink.adminOnly{
    background-color: color-mix(in srgb, var(--darkest) 100%, red 20%) !important;
}
.navLink.adminOnly li span.navLinkIcon{
    background-color: #00000030;
}
.navLink.adminOnly li span{
    background-color: #00000050;
}
.navLink.alphaOnly{
    background-color: color-mix(in srgb, var(--darkest) 100%, orange 20%) !important;
}
.navLink.alphaOnly li span.navLinkIcon{
    background-color: #00000030;
}
.navLink.alphaOnly li span{
    background-color: #00000050;
}
#navbar{
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 100;
    backdrop-filter: blur(30px);
    background-color: #00000050;
}
#navbar-center{
    width: 25%;
    height: 4rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#navbar-left{
    width: 4rem;
    height: 4rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
#navbar-left .navHamburger{
    font-size: 1.5rem;
}
#navbar-center{
    width: 100% !important;
    max-width: calc(100% - 8rem);
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
#navbar-center #icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    margin: 0 1rem;
}
#navbar-center #titleTagline{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}
#navbar-center h1{
    margin: 0;
    padding-top: 0.35rem;
    font-size: 1.5rem;
    text-wrap: nowrap;
    overflow-x: hidden;
}
#navbar-center h2{
    font-size: 1rem;
    text-wrap: nowrap;
    overflow-x: hidden;
    font-variation-settings: "wdth" 75, "wght" 400, "slnt" 5;
    text-transform: uppercase;
}
#navbar-right{
    width: max-content;
    min-width: 4rem;
    height: 4rem;
}
#navUserCardDesktop{
    display: initial;
}
#navUserCardMobile{
    display: none;
}
#navUserCard{
    width: min-content;
    height: 4rem;
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: var(--mid);
}
#userCardLeft span{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--lighter);
    color: #fff;
}
#userCardLeft span svg{
    padding: 0 0.5rem;
    font-size: 0.75rem;
    background-color: var(--lightest);
    color: #fff;
    width: 0.75rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#userCardLeft span p{
    padding: 0 0.5rem;
    margin: 0;
    font-size: 0.75rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-wrap: nowrap;
}
#userCardLeft span p strong{
    padding: 0;
    margin: 0;
}
#userCardCenter{
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#userCardCenter img{
    width: 100%;
    height: 100%;
}
#userCardRight{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    background-color: var(--mid);
}
#userCardRight button{
    background-color: var(--light);
    color: #fff;
    border: none;
    padding: 0;
    font-size: 0.75rem;
    cursor: pointer;
    height: 2rem;
}
#userCardRight button:hover{
    background-color: #666;
}
#userCardRight button svg{
    padding: 0.5rem;
}

#page{
    transition: 0.2s;
    width: 100%;
    overflow: auto;
    background-color: #3334;
    backdrop-filter: blur(50px) brightness(0.2);
}
#pageContent{
    width: 100%;
    height: 100%;
    min-width: 320px;
    height: min-content;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    padding-bottom: 25px;
}
#pageFull.navActive{
    overflow-x: hidden;
}
.pageHeader{
    margin: 25px 0 0 25px;
}
.dashboardSection{
    width: 100%;
    margin: 0;
    color: #fff;
    height: min-content;
    border-radius: 10px;
    background-color: var(--darker);
}
.dashboardSection .sectionHeader{
    background-color: var(--mid);
    color: #fff;
    text-transform: uppercase;
    width: calc(100% - 25px);
    margin: 0;
    padding: 12.5px;
    font-family: var(--headfontstack);
    font-size: 1.25rem;
    line-height: 1.25rem;
    font-variation-settings: "wdth" 75;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;
}
.dashboardSectionRow{
    display: flex;
    gap: 1.5rem;
    width: calc(100% - 3rem);
    margin: 1.5rem 1.5rem 0 1.5rem;
    justify-content: space-between;
}
.dashboardSectionCol{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    margin: 0;
}
.dashboardSectionRow.wideRight .dashboardSectionCol:nth-child(1){
    width: 33%;
}
.dashboardSectionRow.wideRight .dashboardSectionCol:nth-child(2){
    width: 66%
}
.dashboardSectionRow.wideLeft .dashboardSectionCol:nth-child(1){
    width: 66%;
}
.dashboardSectionRow.wideLeft .dashboardSectionCol:nth-child(2){
    width: 33%
}
#leaderboardByNetWorth{
    padding: 7.5px;
}
#userCard{
    background-color: transparent !important;
    display: flex;
    flex-direction: column;
    margin: 0;
    height: auto;
    border: none;
    width: 100%;
}
#userCard #userCardDetails{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
#userCard #userCardDetails #userNameImage{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
#userCard #userCardDetails #userStats{
    width: 100%;
}
#userCard #userCardDetails img{
    width: 3rem;
    height: 3rem;
    border-radius: 10px 0 0 10px;
}
#userCard #userCardDetails #userName{
    display: inline-flex;
    width: fit-content;
    justify-self: flex-start;
    min-height: 3rem;
    padding: 0 1rem;
    margin: 0;
    background-color: var(--darker);
    align-items: center;
    justify-content: center;
    border-radius: 0 10px 10px 0;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
    font-size: 1.25rem;
    text-transform: uppercase;
    font-family: var(--headfontstack);
    font-variation-settings: "wdth" 75;
}
#userCard #userCardDetails ul{
    list-style: none;
    margin-top: 0.25rem;
    padding: 0;
    display: block;
}
#userCard #userCardDetails ul li{
    display: inline-flex;
    float: left;
    color: #fff;
    align-items: center;
    border-radius: 10px;
    float: left;
    margin: 8px 0.75rem 0 0;
}
#userCard #userCardDetails ul li .statTitle{
    display: inline-flex;
    background-color: var(--mid);
    align-items: center;
    min-height: 2rem;
    padding: 0 0.5rem;
    border-radius: 5px 0 0 5px;
}
#userCard #userCardDetails ul li .statValue{
    display: inline-flex;
    background-color: var(--darker);
    align-items: center;
    justify-content: center;
    min-height: 2rem;
    padding: 0 0.5rem;
}
#userCard #userCardDetails ul li .statEmblem{
    background-color: var(--darker);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#userCard #userCardDetails ul li .statEmblem svg{
    margin: 0.5rem;
}
svg.fa-crown.first{
    color: var(--first);
}
svg.fa-medal.second{
    color: var(--second);
}
svg.fa-medal.third{
    color: var(--third);
}
#userCard #userCardDetails ul li.admin span{
    background-color: color-mix(in srgb, #333 100%, red 20%);
}
#userCard #userCardDetails ul li.alpha span{
    background-color: color-mix(in srgb, #333 100%, orange 20%);
}
#userCard #userCardDetails ul li.admin .statEmblem svg{
    color: color-mix(in srgb, #fff 100%, red 20%);
}
#userCard #userCardDetails ul li.alpha .statEmblem svg{
    color: color-mix(in srgb, #fff 100%, orange 20%);
}
#userCard #userCardDetails ul li span:last-child{
    border-radius: 0 5px 5px 0;
}
#itemsSection table td:last-child:not(.lastExempt), #workersSection table td:last-child:not(.lastExempt){
    border-left: 1px dotted var(--lightest);
}
#itemsSection table td:last-child:not(.lastExempt):before, #workersSection table td:last-child:not(.lastExempt):before, #leaderboardByNetWorthSection table td:last-child:not(.lastExempt):before, #leaderboardByBalanceSection table td:last-child:not(.lastExempt):before{
    display: inline-block;
    position: relative;
    left: 0;
    content: "ⵇ";
    padding: 0 0.25rem 0 0;
    text-align: left;
    color: #fff5;
}

#workersClaimSection .claimTimerCell{
    padding: 0.5rem;
}
p{
    padding: 0 1rem;
}
.dashboardSection form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 25px);
    margin: 0;
    padding: 12.5px;
    gap: 0.25rem;
    color-scheme: dark light;
}
.dashboardSection form label{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 0.5rem 0.5rem 0.25rem 0.5rem;
    background-color: transparent;
    color: #fff;
}
.dashboardSection form label:nth-child(1){
    margin: 0 0.5rem 0.25rem 0.5rem;
}
.dashboardSection form select{
    width: 100%;
    border: 1px solid #fff5;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    font-family: var(--fontstack) !important;
    padding: 0.5rem 0.25rem;
}
.dashboardSection form select:disabled{
    background-color: transparent;
    color: #fff;
}
.dashboardSection form select option{
    font-family: "zedou", var(--fontstack) !important;
    background-color: #fff !important;
    color: #000 !important;
}
.dashboardSection form input{
    width: 100%;
    border: 1px solid #fff5;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    padding: 0.5rem 0.5rem;
    box-sizing: border-box;
    font-family: var(--fontstack) !important;
}
.dashboardSection form button{
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: var(--mid);
    color: #fff;
    margin: 0.5rem 0 0 0;
    padding: 0.25rem;
    cursor: pointer;
}
.dashboardSection form button:hover{
    background-color: var(--lightest);
}
.dashboardSection form button:disabled{
    background-color: #666;
    cursor: not-allowed;
}
.dashboardSection form button:disabled:hover{
    background-color: #666;
}
.dashboardSection form button:only-child{
    margin: 0 !important;
}
.dashboardSection .sectionHeader{
    border-radius: 0;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
.dashboardSection table{
    width: 100%;
    border-spacing: 0;
    border-radius: 0;
    overflow: hidden;
    border-collapse: collapse;
    text-align: left;
}
.dashboardSection table tr:has(th){
    background-color: var(--darkest);
    height: 2rem;
    width: min-content;
}
.dashboardSection table th{
    padding: 0 0.75rem;
}
.dashboardSection table td{
    padding: 0.5rem 0.75rem;
    border-bottom: 1px solid #fff2;
}
.dashboardSection table tr:last-child td{
    border-bottom: none;
}
.URC{
    height: 3rem;
}
.URC.first{
    background-color: var(--firstback)
}
.URC.second{
    background-color: var(--secondback);
}
.URC.third{
    background-color: var(--thirdback);
}
.lbURIcol{
    width: 2rem;
    text-align: center;
}
.lbURRcol{
    width: 2rem;
    text-align: center;
}
.lbURNcol{
    width: auto;
    padding: 0 1rem;
}
.lbURNWcol{
    width: min-content;
    text-align: right;
    padding: 0 1rem;
}
.sortFilter{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.sort, .filter{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.25rem;
    width: calc(100% - 2rem);
}
.sort{
    padding: 1rem;
}
.sort select{
    width: 100%;
    border: 1px solid #fff5;
    border-radius: 5px;
    background-color: #0005;
    color: #fff;
    padding: 0.5rem 0.25rem;
    font-family: var(--fontstack) !important;
}
.sort select option{
    font-family: "zedou", var(--fontstack) !important;
    background-color: #fff !important;
    color: #000 !important;
}
.filter{
    border-top: 1px solid #fff5;
    padding: 1rem;
}
.filter fieldset{
    border: none;
    padding: 0.25rem 0 0 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    width: 100%;
}
.filter fieldset .multiSelectItem{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.25rem;
    width: 100%;
}
.filter fieldset .multiSelectItem select{
    width: 100%;
    border: 1px solid #fff5;
    border-radius: 5px;
    background-color: #0005;
    color: #fff;
    padding: 0.5rem;
    font-family: var(--fontstack) !important;
}
.filter fieldset .multiSelectItem select option{
    font-family: "zedou", var(--fontstack) !important;
    background-color: transparent;
    height: 1.5rem;
    display: flex;
    align-items: center;
}
.filter fieldset .multiSelectItem select option::before{
    content: "✖";
    width: 1rem;
    padding: 0 0.25rem;
    text-align: left;
}
.filter fieldset .multiSelectItem select option:checked{
    background-color: #4445;
}
.filter fieldset .multiSelectItem select option:checked::before{
    content: "✔";
}
.filter fieldset .checkboxItem{
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.filter fieldset .checkboxItem input{
    margin: 0;
    margin-right: 0.5rem;
    height: 1rem;
}
.filter fieldset .checkboxItem label{
    margin: 0;
    padding: 0;
    line-height: 1rem;
}
.sortFilter #sortFilterButton{
    width: calc(100% - 2rem);
    border: none;
    border-radius: 5px;
    background-color: var(--mid);
    color: #fff;
    margin: 0 1rem 1rem 1rem;
    padding: 0.25rem;
    cursor: pointer;
}
.sortFilter #sortFilterButton:hover{
    background-color: var(--lightest);
}
#itemsExtendedSection .quickActionsToolbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    width: calc(100% - 2rem);
    padding: 0.5rem 1rem;
    background-color: #0005;
}
#itemsExtendedSection .quickActionsToolbar .selectAllItem{
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#itemsExtendedSection .quickActionsToolbar .selectAllItem input{
    margin: 0;
    margin-right: 0.5rem;
    height: 1rem;
}
#itemsExtendedSection .quickActionsToolbar .selectAllItem label{
    margin: 0;
    padding: 0;
    line-height: 1rem;
}
#itemsExtendedSection .quickActionsToolbar .quickButtons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
}
#itemsExtendedSection .quickActionsToolbar .quickButtons button{
    border: none;
    border-radius: 5px;
    background-color: var(--mid);
    color: #fff;
    padding: 0.25rem 1rem;
    cursor: pointer;
}
#itemsExtendedSection .quickActionsToolbar .quickButtons button:hover{
    background-color: var(--lightest);
}
#itemsExtendedSection .quickActionsToolbar .quickButtons button:disabled{
    background-color: #666;
    cursor: not-allowed;
}
#itemsExtendedSection .quickActionsToolbar .quickButtons button:disabled:hover{
    background-color: #666;
}
#itemsExtendedSection #userItems svg{
    padding: 0.5rem;
}
#itemsExtendedSection #userItems table{
    width: 100%;
    border-spacing: 0;
    border-radius: 0;
    overflow: hidden;
    border-collapse: collapse;
    text-align: left;
}
#itemsExtendedSection #userItems table thead th{
    background-color: #0002;
    border-top: 1px solid #fff2;
    padding: 0.5rem;
}
#itemsExtendedSection #userItems table thead th.nameCell, #itemsExtendedSection #userItems table thead th.attributesCell{
    border: 1px solid #fff2;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem !important;
}
#itemsExtendedSection #userItems table thead th.actionsCell{
    text-align: center !important;
}
#itemsExtendedSection #userItems table tbody > tr:nth-child(odd){
    border-top: 1px solid #fff2;
}
#itemsExtendedSection #userItems table tbody td{
    width: fit-content;
    height: fit-content;
    padding: 0.5rem;
}
.selectCell{
    width: 1rem;
    text-align: center;
}
.iconCell{
    width: 1rem;
    text-align: center;
}
.actionsCell{
    width: 10rem;
}
.actionsCell .quickButtons{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.actionsCell button{
    border: none;
    border-radius: 5px;
    background-color: var(--mid);
    color: #fff;
    padding: 0.25rem 1rem;
    cursor: pointer;
    width: 100%;
}
.nameCell p{
    margin: 0;
    padding: 0;
}
.attributesCell{
    padding: 0 0.5rem 0.5rem 0.5rem !important;
}
.attributesCell ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.attributesCell ul li{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 0.25rem 0.5rem;
    background-color: var(--mid);
    color: #fff;
}

/* Ace's Temp Junk. Plz no judge */

#targetUser {
    width: 200px;
}

/* End of Junkland */

.thin{
    font-variation-settings: "wght" 150;
}
.bold{
    font-weight: bold;
}
.left{
    text-align: left !important;
}
.right{
    text-align: right !important;
}
.center{
    text-align: center !important;
}
.hidden{
    display: none !important;
}
.fanart{
    height: 20rem;
    border-radius: 10px;
}

/* Media Queries */
@media (min-width: 1200px){
    #navbar-left{
        user-select: none;
        cursor: not-allowed;
    }
    #navbar-left svg path{
        fill: #fff5 !important;
    }
}
@media (max-width: 1199px){
    #navbarMenu{
        display: flex !important;
        transform: translateX(-300px);
    }
    #page{
        transform: translateX(-300px);
        min-width: 100vw;
    }
    #navbarMenu.navActive{
        transform: translateX(0);
    }
    #page.navActive{
        transform: translateX(0);
    }
    #navbar-left{
        user-select: initial;
        cursor: pointer;
    }
    #navbar-left svg path{
        fill: #fff !important;
    }
}
@media (max-width: 850px){
    body{
        font-family: var(--fontstack);
        font-variation-settings: "wdth" 75, "wght" 200, "slnt" 0 !important;
        font-style: normal;
        font-weight: 200;
    }
    #navUserCardLeft{
        display: none;
    }
    #userName{
        font-variation-settings: "wdth" 75, "wght" 400, "slnt" 0 !important;
        font-style: normal;
        font-weight: 400;
    }
    .pageHeader{
        margin: 25px;
        margin-bottom: 0;
    }
    .dashboardSectionRow{
        flex-direction: column;
    }
    .dashboardSectionRow.wideLeft .dashboardSectionCol:nth-child(1), .dashboardSectionRow.wideRight .dashboardSectionCol:nth-child(1), .dashboardSectionRow.wideLeft .dashboardSectionCol:nth-child(2), .dashboardSectionRow.wideRight .dashboardSectionCol:nth-child(2){
        width: 100%;
    }
    .sectionHeader{
        font-variation-settings: "wdth" 75, "wght" 400, "slnt" 0 !important;
        font-style: normal;
        font-weight: 400;
    }
    #leaderboardByBalance, #leaderboardByNetWorth{
        padding: 0;
    }
}
@media (max-width: 600px){
    #navUserCardDesktop{
        display: none;
    }
    #navUserCardMobile{
        display: flex;
    }
    #navUserCard{
        width: 100%;
        justify-content: left;
    }
    #userCardLeft{
        width: 100%
    }
    #userCardLeft span svg{
        width: 50px !important;
        padding: 0;
    }
    #userCardRight button{
        width: 30px;
    }
    #userCardLeft span p{
        width: calc(100% - 50px - 4rem - 35px);
    }
    #userCardCenter img{
        height: 4rem;
        width: 4rem;
    }
    #userCard #userCardDetails ul li:nth-child(2){
        margin: 8px 0.75rem 0 0;
    }
}